.companiesTable {
    width: 50%;
    height: 80%;
    background-color: darkslategray;
    color: white;
    border-radius: 12%;
    align-self: center;
    margin: auto;
}
.companiesInfo {
    text-align: center;
    margin: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid white;
    width: 100%;
    max-width: 100%;
}
.tbody {
    align-content: center;
    text-align: center;
    margin: auto;
}
.th, .td, .tr{
    border: 3px solid white;
    padding: 8px;
    margin: auto;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
.companyRow{
    border: 1px solid white;
    background-color: seagreen;
}
.companies {
    margin: auto;
}
.searchCompanyInCompanies {
    margin-top: 15px;
    margin-right: 40px;
    border-radius: 25px;
    width: 250px;
    height: 22px;
}
.companies > span {
    font-size: 18px;
}
#deleteCompanyForAdmin {
    cursor: pointer;
    background-color: black;
    color:white;
    cursor: pointer;
}
.createNewCompanyForAdmin, .updateCompanyForAdmin  {
    width: 210px;
    border-radius: 25px;
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rosybrown;
    color: black;
    font-size: 20px;
    cursor: pointer;
}